{% extends "application.html" %}
{% block content %}

<section class="jumbotron text-center">
  <div class="container">
  </div>
  <h1>Impressum</h1>

</section>

<h2>VERANTWORTLICHKEITEN:</h2>
<h3>  Ansprechpartner:</h3>
<p> <b>Bei inhaltlichen Fragen zur Sifa-Community wenden Sie sich bitte an:</b><br>
Technische Universität Dresden<br>
Center for Open Digital Innovation and Participation (CODIP – ehem. Medienzentrum)<br>
01062 Dresden<br>
Leiter: Prof. Dr. Thomas Köhler<br>
E-Mail:<span style="color:red"> codip@tu-dresden.de</span><br>
<br>

<b>Technische Umsetzung:</b><br>
Technische Universität Dresden<br>
Center for Open Digital Innovation and Participation (CODIP – ehem. Medienzentrum)<br>
01062 Dresden<br>
Leiter: Prof. Dr. Thomas Köhler<br>
E-Mail:<span style="color:red"> codip@tu-dresden.de</span><br>
</p>



{% endblock %}