{% extends "application.html" %}
{% block content %}

<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>Email</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["addr"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Zurück zur Hauptseite</a>
      
   </body>
</html>

{% endblock %}