{% extends "application.html" %}

{% block content %}

<h3> <span lang="de">Abbestellen von E-Mails</span></h3>

{{ form.csrf_token }}



<form action="{{ url_for('contact') }}" method="POST">
 <div class="form-group">
    {{ form.name.label }}
    {{ form.name(class='form-control') }}
    {% for error in form.name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>

  <div class="form-group">
    {{ form.email.label }}
    {{ form.email(class='form-control') }}
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  {{ form.csrf_token }}

  {{ form.submit(class='btn btn-success') }}
  {{ form.csrf_token }}
  
</form>




{% endblock %}
